<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<title></title>

<style>
h1 {
  text-align: center;
}
    
* {
  box-sizing: border-box;
}

.column {
  display: flex;
}

</style>




<body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
 
  
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Main</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!--a class="nav-link active" aria-current="page" href="#">Home</a-->
        <a class="nav-link" href="/introduction">Introduction</a>
        <a class="nav-link" href="/dataanalysis">DataAnalysis</a>
        <a class="nav-link" href="/datamodeling">DataModeling</a>
        <a class="nav-link" href="/findingsnevaluation">Findings and Evaluation</a>
        <a class="nav-link" href="/conclusion">Conclusion</a>
        
      </div>
    </div>
  </div>
</nav>
    
<h1>Conclusion</h1>
<p>
    Through the simple classification of different job recruitment, job recruitment in different industries is clear immediately. Judging from the whole report, the proportion of job code of 000 accounts for a large proportion.<br/>
Besides, job recruitment advertisements do not have particularly large requirements for recruiters' academic qualifications and work experience. Moreover, most job advertisements are for the recruitment of general staff, and only a few recruit senior staff.

</p>
</body>


</html>