/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: black;
}

.dropdown {
  float: right;
  overflow: hidden;
}


.dropdown .dropbtn {
  font-size: 20px;  
  border: none;
  outline: none;
  color: #f2f2f2;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}
body{
background: url(img/00.png);
background-repeat: no-repeat;
}
body p {
color:white;
text-align: left;
font-size: 15px;　　　　　          
line-height: 24px;
text-shadow: 0 0 3px #FF0000, 0 0 5px #000000;
}
 div{
	 color:white;
	text-shadow: 0 0 5px #FF0000, 0 0 5px #6bf403;
 }
h1 ,h3 {
  text-align: left;
  color:white;
  text-shadow: 0 0 5px #FF0000, 0 0 5px #6bf403; 
        
}
h2 {
   text-align: left;
  color:white;
  text-shadow: 0 0 5px #FF0000, 0 0 5px #6bf403;
}
ol{ 
  text-align: left;
  color:white;
  text-shadow: 0 0 5px #FF0000, 0 0 5px #6bf403;
}
form{
	color:white;
text-align: left;
font-size: 15px;　　　　　          
line-height: 24px;
text-shadow: 0 0 3px #FF0000, 0 0 5px #000000;
}
a{
	color:white;
}